.sidebar {
  grid-row: 2/2;
  grid-column: 2/13;
  border-radius: 1rem;
  background-color: rgba(235, 255, 248, 0.7);
  transition: all 800ms;
  transition-timing-function: ease;
  &:hover {
    background-color: rgba(235, 255, 248, 0.95);
  }

  position: relative;
}
